/**************************************************
	Chart
**************************************************/

// BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";

// MODULES
@import 'variables';
@import 'fonts';

// SECTIONS - in order of creation
@import 'style';
