/**********************************************************
*   spot-thing
***********************************************************/

.spot-thing {
	
	font-family:'Montserrat';
	font-weight:400;
	height:100vh;
	overflow-y:hidden;

	.titlebar {
		display: block;
		position: fixed;
		height: 32px;
		width: calc(100%);
		background: $purple-gradient-title;

		.drag-region {
			width: 100%;
			height: 100%;
			-webkit-app-region: drag;
			display: grid;
  			grid-template-columns: auto 138px;

			#window-title {
				grid-column: 1;
				display: flex;
				align-items: center;
				margin-left: 8px;
				overflow: hidden;
				font-family: "Segoe UI", sans-serif;
				font-size: 12px;
			}
			  
			#window-title span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				line-height: 1.5;
				color:$white;
				font-weight:400;
				font-size:14px;
			}

			#window-controls {
				display: grid;
				grid-template-columns: repeat(2, 46px);
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				-webkit-app-region: no-drag;
			}
			  
			#window-controls .button {
				grid-row: 1 / span 1;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
			}

			#min-button {
				grid-column: 1;

				.fa-solid {
					padding-bottom:10px;
				}
			}

			#close-button {
				grid-column: 2;
			}

			@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
			(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
			(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
				#window-controls .icon {
					width: 10px;
					height: 10px;
				}
			}

			#window-controls {
				-webkit-app-region: no-drag;
			}
			  
			#window-controls .button {
				user-select: none;
			}
			
			#window-controls .button:hover {
				background: rgba(255,255,255,0.1);
			}
			
			#window-controls .button:active {
				background: rgba(255,255,255,0.2);
			}
			  
			#close-button:hover {
				background: #E81123 !important;
			}
			
			#close-button:active {
				background: #F1707A !important;
			
			}
			
			#close-button:active .icon {
				filter: invert(1);
			}
			  
			#restore-button {
				display: none !important;
			}

			
		}
	}

	.overlay {
		position:absolute;
		top:10%;
		left:5%;
		height:80%;
		width: 90%;
		background-color:$black;
		border-radius:10px;
		z-index: 10;
		padding:20px;

		.about {
			color: $white;
		}

		.form-control {
			padding:2px 5px 2px 5px;
		}
	}

	.btn {
		border-radius:20px;
		padding-right:25px;
		padding-left:25px;
	}

	.btn-primary {
		color: $white;
		background-color: $spotifygreen;
		border-color: $spotifygreen;

		&:hover {
			background-color: lighten($spotifygreen, 5%);
			border-color: lighten($spotifygreen,5%);
		}
	}

	.info {
		background: $purple-gradient;
		height:70%;

		.albumContainer {
			max-width:35%;

			.albumArt {
				max-width:100%;
				box-shadow: 0 1px 5px 0 rgba($black, .6), 0 1px 4px -1px rgba($black, .6);
			}
		}

		.songContainer {
			max-width:65%;
		
			.albumName {
				font-size:14px;
				color:lighten($purple,30%);
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow:hidden;
				max-width:215px;
			}
		
			.artistName {
				font-size: 18px;
				color:$white;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow:hidden;
				max-width:320px;
				cursor:pointer;
			}
		
			.songName {
				font-size:34px;
				font-weight:900;
				color:$white;
				max-height: 100px;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow:hidden;
				line-height:40px;
				cursor:pointer;
			}

			.logo {
				width:75px;
				top:42px;
				right: 10px;
				position:absolute;
			}
		}
	}

	.progressContainer {
		height:5px;

		.progress {
			height:5px;
			border-radius:0px;
			background-color: darken($purple,10%);
		}

		.progress-bar {
			background-color:$white;
			margin-left:-12px;
		}
	}

	.controls {
		background: $purple;
		height:30%;
		font-size:28px;
		color:$white;

		.nextSong {
			opacity:.7;

			&:hover {
				opacity:1;
			}
		}

		.backSong {
			opacity:.7;

			&:hover {
				opacity:1;
			}
		}

		.shuffleActive {
			opacity:1;
			color:$spotifygreen;
		}

		.shuffleInactive {
			opacity:.7;
			color:$white;

			&:hover {
				opacity:1;
			}
		}
	}

	
}



