/**********************************************************
*   spot-thing
***********************************************************/

.spot-thing {
	
	font-family:'Montserrat';
	font-weight:400;
	height:100vh;

	.info {
		background: $purple-gradient;

		.albumArt {
			max-width:175px;
			box-shadow: 0 1px 3px 0 rgba($black, .1), 0 1px 2px -1px rgba($black, .1);
		}
	
		.albumName {
			font-size:14px;
			color:lighten($purple,30%);
		}
	
		.artistName {
			font-size: 18px;
			color:$white;
		}
	
		.songName {
			font-size:36px;
			font-weight:900;
			color:$white;
		}
	}

	.progressContainer {
		height:5px;

		.progress {
			height:5px;
			border-radius:0px;
			background-color: darken($purple,10%);
		}

		.progress-bar {
			background-color:$white;
			margin-left:-12px;
		}
	}

	.controls {
		background: $purple;
		height:107px;
		font-size:28px;
		color:$white;
	}

	
}



