/**********************************************************
*   @COLORS
***********************************************************/
$black: #191414;
$gray: #f8fafb;
$mediumgray: #f2f5f7;
$darkgray: #333333;
$white: #FFFFFF;
$purple: #6138f5;
$light-purple: #8753de;
$purple-gradient: linear-gradient(-45deg, $purple 0%, $light-purple 30%);
$spotifygreen: #1DB954;
$red: #F15060;