/**********************************************************
*   @COLORS
***********************************************************/
$black: #232323;
$gray: #f8fafb;
$mediumgray: #f2f5f7;
$darkgray: #333333;
$white: #FFFFFF;
$green: #06bd0a;
$mediumgreen: #1db954;
$darkgreen: #2c856b;
$blue: #007cf0;
$mediumblue: #252d44;
$darkblue: #181d29;
$slate: #5f73ac;
$orange: #ee7a23;
$yellow: #fff3cd;
$darkyellow: #856404;
$red: #F15060;
$brightred: #ff3b30;
$purple: #6138f5;