/**********************************************************
*   @COLORS
***********************************************************/
$black: #232323;
$gray: #f8fafb;
$mediumgray: #f2f5f7;
$darkgray: #333333;
$white: #FFFFFF;
$purple: #6138f5;
$purple-gradient: linear-gradient(-45deg, $purple 0%, #8753de 30%);
$spotifygreen: #1DB954;